<div class="card">
  <div class="card-header">
    <h1>
      <%= link_to cocktail.name, cocktail_path(cocktail) %>
    </h1>
  </div>
  <div class="card-content">
    <% cocktail.doses.each do |dose| %>
      <li><%= dose.ingredient.name %></li>
    <% end %>
    <%= link_to "Add a dose", new_cocktail_dose_path(cocktail) %>
  </div>
</div>
